.board-container {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 240px;
}

.board-header {
    height: 220px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}
.serch-add-task-button {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.board-header h2 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 61px;
    font-style: bold;
    font-weight: 700;
}
.board-header input {
    height: 40px;
    width: 321px;
    border: 2px solid #D1D5DB;
    border-radius: 8px;
    padding-left: 1rem;
    font-size: 16px;
}
.board-header button {
    text-align: center;
    height: 48px;
    width: 160px;
    font-size: 24px;
    font-style: bold;
    font-weight: 700;
    background-color: #2a3647;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.row:after {
  display: table;
  clear: both;
}
.column {
    float: left;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh; /* Should be removed. Only for demonstration */
}
.column img{
    height: 24px;
    width: 24px;
}