header {
  max-width: 1920px;
}

.header-content {
  background-color: #fff;
  height: 100px;
  color: #000;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 240px;
  padding-right: 40px;
  padding-left: 64px;
}

.header-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
}

.header-logo {
  display: none;
}

.header-right {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  color: #29abe2;
  gap: 20px;
}

.header-user-round {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid #2a3647;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: #29abe2;
  box-sizing: border-box;
  background: #fff;
  font-style: center;
}
.nav-icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 1023px) {
  .header-content {
    margin-left: 0px;
    display: flex;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-title {
    display: none;
  }
  .nav-icon-help {
    display: none;
  }
  .header-logo {
    display: flex;
  }
}
