header {
  max-width: 1920px;
}

.header-content {
  background-color: #fff;
  height: 100px;
  color: #000;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 240px;
  padding-right: 40px;
  padding-left: 64px;
}

.header-right {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  color: #29abe2;
  gap: 20px;
}

.header-user-round {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid #2a3647;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: #29abe2;
  box-sizing: border-box;
  background: #fff;
  font-style: center;
}
.nav-icon {
  width: 20px;
  height: 20px;
}

/* header {
  height: 96px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px #0000001a;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;
  align-items: center;
} */
