.overlay-task-card {
  display: flex; 
  position: fixed;
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.5); 
}
.task-card-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.task-card-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.task-card-header-category-close{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.task-card-body{
  display: grid;
  grid-gap: 24px;
}
.task-card-story {
  display: grid;
  grid-gap: 24px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 20px;
}
