/* Sidebar styles */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 240px;
  background: #2a3647;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
}

.sidebar-brand {
  padding: 8px 8px 20px;
  display: flex;
  justify-content: center;
}

.sidebar-logo {
  height: 120px;
  padding-top: 45px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-bottom: 360px;
}

.nav-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 12px;
  color: #ffff;
  padding: 10px 12px;
  padding-left: 36px;
}

.nav-item .material-icons {
  font-size: 18px;
  opacity: 0.9;
}



.nav-item.active {
  background: #091931;
  color: #fff;
  cursor: pointer;


}

.nav-item:hover {
  background: #2a3d59;
  color: #fff;
  cursor: pointer;
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px;
  align-items: flex-start;
  padding-left: 36px;
  padding-bottom: 48px;
}

.footer-link {
  color: #a8a8a8;
  text-decoration: none;
  font-size: 16px;
}

.footer-link:hover {
  color: #29ABE2;
}

@media (max-width: 1023px) {
  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    background: #2a3647;
    border-top: 1px solid #3a4859;
    color: #fff;
    gap: 12px;
  }

  .nav-item {
    flex-direction: column;
    text-align: center;
    gap: 4px;
    height: 80px;
  }

  .nav-item.active {

    width: 70px;
    height: 80px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 16px;

  }

  .sidebar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
  }

  .sidebar-brand,
  .sidebar-footer {
    display: none;
  }

  .sidebar-logo {
    height: 40px;
  }

  main.addtask-wrap {
    margin-left: 0;
    margin-bottom: 90px;
  }
}