*{
margin: 0;
padding: 0;
/* box-sizing: border-box; */
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1px;
  height: 100%;
  background: var(--bg);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
  margin: 0px;
}

:root {
  --bg: #f6f7f8;
  --panel: #ffffff;
  --ink: #2a3647;
  --muted: #6b7280;
  --accent: #29abe2;
  --urgent: #ff3d00;
  --black: #000000;
  --shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
  color: var(--black);
  margin: 0px;
}

h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  color: var(--black);
  margin: 0px;
}

h3 {
font-family: "Inter";
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  color: var(--black);
  margin: 0px;

}

.material-icons {
  font-size: 30px;
}

text