<header class="main-header">
  <div class="header-content">
    <span class="header-title">Kanban Project Management Tool</span>
    <img src="img/logo/join_logo_black3.svg" class="header-logo" alt="help" />

    <div class="header-right">
      <a class="nav-item" href="help.html">
        <img src="img/icons/help.svg" class="nav-icon-help" alt="help"
      /></a>

      <div class="header-user" id="headerUser">
        <button
          class="header-user-round"
          id="headerUserBtn"
          aria-haspopup="true"
          aria-expanded="false">
          SM
        </button>
        <nav
          class="user-menu"
          id="userMenu"
          aria-label="User menu"
          aria-hidden="true">
          <a class="user-menu__link" href="legal-notice.html">Legal Notice</a>
          <a class="user-menu__link" href="privacypolicy.html"
            >Privacy Policy</a
          >
          <a class="user-menu__link" href="logout.html">Log out</a>
        </nav>
      </div>
    </div>
  </div>
</header>
